extends layout
block title
  | arewegood | monitoring and exception handling for apps that matter

block page-content
    .page-content-wrapper
        .page-content
            h1.page-title Dashboard
            each repository in user.repositories
                .col-md-6
                    .portlet.light.bordered
                        .portlet-title.tabbable-line
                            .caption
                                a(href='/#{repository.fullName}')
                                    | #{repository.fullName}
                            ul.nav.nav-tabs
                                li.active
                                    a(href='##{repository._id}_day' data-toggle='tab')
                                        | Day
                                li
                                    a(href='##{repository._id}_week' data-toggle='tab')
                                        | Week
                                li
                                    a(href='##{repository._id}_month' data-toggle='tab')
                                        | Month
                        .portlet-body
                            .tab-content
                                .tab-pane.active(id='#{repository._id}_day')
                                    table.logs
                                        thead
                                            tr
                                                th Type
                                                th Data
                                                th Created
                                        tbody
                                            tr
                                                td.type
                                                    | error
                                                td.data
                                                    | [DAY] At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique.
                                                td.createdAt
                                                    | 08/07/15 08:23:54
                                .tab-pane(id='#{repository._id}_week')
                                    table.logs
                                        thead
                                            tr
                                                th Type
                                                th Data
                                                th Created
                                        tbody
                                            tr
                                                td.type
                                                    | error
                                                td.data
                                                    | [DAY] At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique.
                                                td.createdAt
                                                    | 08/07/15 08:23:54
                                            tr
                                                td.type
                                                    | error
                                                td.data
                                                    | [WEEK] At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique.
                                                td.createdAt
                                                    | 08/04/15 01:14:03
                                .tab-pane(id='#{repository._id}_month')
                                    table.logs
                                        thead
                                            tr
                                                th Type
                                                th Data
                                                th Created
                                        tbody
                                            tr
                                                td.type
                                                    | error
                                                td.data
                                                    | [DAY] At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique.
                                                td.createdAt
                                                    | 08/07/15 08:23:54
                                            tr
                                                td.type
                                                    | error
                                                td.data
                                                    | [WEEK] At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique.
                                                td.createdAt
                                                    | 08/04/15 01:14:03
                                            tr
                                                td.type
                                                    | error
                                                td.data
                                                    | [MONTH] At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique.
                                                td.createdAt
                                                    | 08/01/15 13:52:19