extends layout

//- literally all of this is going to be thrown out after the demo

block append extStyles
    link(rel='stylesheet' href='//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css')

block content
    .content
      .container-full
        span.user
          img(src='#{user.avatar}')
          div.info 
            span #{user.username}
            a(href='#{user.html_url}') #{user.html_url}
                
        span.repos
          h4 Repositories
          table.repositories
              thead
                  tr
                      th Repo
              tbody
                  for repository in user.repositories
                      tr
                          td.name
                              a(href='/#{repository.fullName}') #{repository.fullName}

block append extScripts
    script(src='//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js')
    script(src='//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.js')

block append intScripts
    script.
        new TableView('.container table.repositories').init();